body {
	overflow:hidden;
	background-color: #0984B2;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align:center;
}

canvas {
	margin: 0px;
	padding: 0px; 
	margin-top: -700px;  
}

#content { 
	text-align:center;
}

#gameGraphics
{
	width:700px;
	height:700px;
	display:block; 
	margin-top:-700px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
 
#board
{
	
}
