body {
	overflow:hidden;
	background-color: #222222;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align:center;
}

canvas {
	margin: 0px;
	padding: 0px; 
	margin-top: -700px;  
}

#content { 
	text-align:center;
	width:100%;
	height:100%; 
}

#gameGraphics
{
	width:700px;
	height:700px;
	display:block; 
	margin-top:-700px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
}
 
#board
{ 
	height:96%;
	margin-top:1%;
	padding:0;
}

#lobbyMessage
{
	display:block;
	position:absolute;
	width: 35%; 
	
	margin:auto;
	top:40%;
	left:100%;  
	font-size: 40px;
	color: yellow;
	background-color: #000000;
	opacity:1;
	padding: 3%;
}

#testPanel
{
	position:absolute;
	top:0;
	left:0;
	background-color:#dddddd;
	
}

.playerName
{
	position:absolute;
	background-color:#000000;
	color: #eeeeee;
	width:14%;
	height:3%;	
}

#p1name
{
	top:8.5%;
	left:11%;
}

#p2name
{
	top:8.5%;
	right:11%;
}

#p3name
{
	bottom:23%;
	left:11%;
}

#p4name
{
	bottom:23%;
	right:11%;
}

#debugMan
{
	position:absolute;
	top:10px;
	right:10px;
	background-color:#dadada;
	width:250px;
	height:500px;
}

#dice1
{
	position:absolute;
	top:80%;
	right:0%;
	width:5%;
	display:none;
}

#dice1b
{
	position:absolute;
	top:45.5%;
	right:55.5%;
	width:4%;
	display:none; 
}
